:root{
    font-family: 'KievitPro';
    font-size: 17px;
    
}
body{
    background-color: #fff;
    margin:0 auto;
}
.container{
    margin:0 auto;
    max-width: 900px;
}
.top .container{
    display: flex;
    box-sizing: border-box;
    
}
.top .container .top-right{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.top .container .top-right .lead{
    max-width: 360px;
    line-height: 25px;
    margin-top: 0px;
    font-weight: 200;
}

.top .container .top-right .btn_next{
    border: 0;
    outline: 0;
    text-decoration-color: #FF4641;
    color:black;
}

#more {
    display: none;
    }
.reviews .container{
    display:flex;
    flex-direction: column;
}
.reviews .container .owl-carousel {
    display: flex;
    flex-direction: column;
    
}
.reviews .container .owl-carousel .slider-items{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin:0 0 0 30px;
    background-color: #F9F7F2;
    max-width:300px;
    padding-bottom: 10px;
}


.owl-theme .owl-dots{
    text-align:right;
}
.reviews .container h3{
    font-size:29px;
    padding-left: 30px;
}
.reviews .container .owl-carousel .slider-items .slider-items_header{
    display: flex;
    padding-top:26px;
    padding-left:20px;
    align-items: center;
}

.reviews .container .owl-carousel .slider-items .slider-items_header p{
    margin: 0;
    padding-left: 10px;
}
.reviews .container .owl-carousel .slider-items .slider-items_body{
    
    padding-left:20px;
}
.reviews .container .owl-carousel .slider-items .slider-items_body .text-items span{

color: #FC4F1E;

}
.reviews .container .owl-carousel .slider-items .slider-items_body .text-items,
.reviews .container .owl-carousel .slider-items .slider-items_body .text-items span{
    text-transform: uppercase;
}
.reviews .container .owl-carousel .slider-items .slider-items_body .text-items_down{
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 25px;
}
.reviews .container .owl-carousel .slider-items .images{
    display:flex;
    padding-left: 20px;
}
.reviews .container .owl-carousel .about{
    font-family: 'Roboto';
    font-size: 11px;
    display: flex;
    color:#9D9D9D;
    justify-content: space-around;
    padding-top:26px;
    
}
.reviews .container .btn{
    font-size: 15px;
    display: inline-block;
    border: 2px solid #FF4641;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    max-width: 124px;
    color:black;
    text-align: center;
    padding: 10px 0;
    margin-left: 30px;
    transition: .5 ease;
}
.reviews .container .btn:hover{
    background-color: #ee6c68;
    color:rgb(238, 234, 234);
}
.owl-theme .owl-dots, .owl-theme .owl-nav{
    text-align: right !important;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    margin-top: 20px !important;
}
.chats .container{
    display: flex;
    margin-top: 40px;
}
.chats .container .chat-left,
.chats .container .chat-right
{
    display: flex;
    flex-direction: column;
}
.chats .container .chat-left{
    margin-right:50px;
}
.chats .container .chat-left .chat-left_head,
.chats .container .chat-right .chat-right_head
{
    font-size: 29px;
    font-weight: 700;
}
.chats .container .chat-left .chat-left_top{
padding-top:20px;
display: flex;
border-bottom: 2px solid rgb(151, 153, 151);
padding-bottom:25px;
justify-content: space-around;
}
.chats .container .chat-right .chat-right_top{
padding-top:20px;
display: flex;
border-bottom: 2px solid rgb(151, 153, 151);
padding-bottom:25px;
}

.chats .container .chat-left .chat-left_top .chat-left_top_text .chat-wrapper,
.chats .container .chat-right .chat-right_top .chat-right_top_text .chat-wrapper{
    display: flex;
    position: relative;
    
}
.chats .container .chat-left .chat-left_top .chat-left_top_text
{
    display: flex;
    flex-direction: column;
    position: relative;
    left:-35px;
}
.chats .container .chat-right .chat-right_top .chat-right_top_text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.chats .container .chat-left .chat-left_top .chat-left_top_text p,
.chats .container .chat-left .chat-left_top .chat-left_top_text .chat-wrapper p,
.chats .container .chat-right .chat-right_top .chat-right_top_text p,
.chats .container .chat-right .chat-right_top .chat-right_top_text .chat-wrapper p
{
    margin:0px;
}
.chats .container .chat-left .chat-left_top .chat-left_top_text p,
.chats .container .chat-right .chat-right_top .chat-right_top_text p
{
    font-size: 17px;
    font-weight: 700;
}
.chats .container .chat-left .chat-left_top .chat-left_top_text .chat-wrapper p,
.chats .container .chat-right .chat-right_top .chat-right_top_text .chat-wrapper p{
    color:red;
    font-weight: 400;
    font-size: 13px;
    margin-left: 18px;
}
.chats .container .chat-left .chat-left_top .chat-left_top_text .chat-wrapper .icon-flag-empty,
.chats .container .chat-right .chat-right_top .chat-right_top_text .chat-wrapper .icon-flag-empty
{
    color:red;
    max-width: 8px;
    max-height: 10px;
    position: absolute;
    left:-5px;
    top:-2px;
}
.chats .container .chat-left .chat-left_top .chat-left_top_star .icon-star{
    color:#F5A623;
}
.chats .container .chat-left .chat-left_top .chat-left_top_star .icon-star-empty{
    color:#F1EBDB;
}
.chats .container .chat-left .chat-left_top .chat-left_top_star .icon-star,
.chats .container .chat-left .chat-left_top .chat-left_top_star .icon-star-empty{
    display: inline-block;
    max-height: 12px;
    max-width: 12px;
    margin-right: 3px;
}
.chats .container .chat-left .chat-left_body,
.chats .container .chat-right .chat-right_body
{
    padding-top:20px;
}
.chats .container .chat-left .chat-left_body .user,
.chats .container .chat-left .chat-left_body .admin,
.chats .container .chat-right .chat-right_body .user,
.chats .container .chat-right .chat-right_body .admin
{
    display: flex;
}
.chats .container .chat-left .chat-left_body .user,
.chats .container .chat-right .chat-right_body .user
{
    margin-bottom:10px;
}
.chats .container .chat-left .chat-left_body .user .user-img,
.chats .container .chat-left .chat-left_body .admin .admin-img,
.chats .container .chat-right .chat-right_body .user .user-img,
.chats .container .chat-right .chat-right_body .admin .admin-img
{
    margin-right: 20px;
}
.chats .container .chat-left .chat-left_body .admin,
.chats .container .chat-right .chat-right_body .admin
{
    padding: 15px 0;
    background-color: #F9F7F2;
    border-bottom: 1px solid rgb(194, 199, 194);
padding-bottom:25px;
}

.chats .container .chat-left .chat-left_bottom,
.chats .container .chat-right .chat-right_bottom
{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}
.chats .container .chat-left .chat-left_bottom input,
.chats .container .chat-right .chat-right_bottom input
{
padding: 16px 150px 16px 5px;

}

.chats .container .chat-left .chat-left_bottom .icon-telegram,
.chats .container .chat-right .chat-right_bottom .icon-telegram
{
    color: #FF4641;
    font-size: 32px;

}
hr{
    position: relative;
    left:-25px;
    color:rgb(151, 153, 151)
}